AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BasedOnStyle: LLVM
BreakTemplateDeclarations: Yes
ColumnLimit: 180
InsertBraces: true
IndentWidth: 4
TabWidth: 4
UseTab: Never
